<div class="comments" id="{{id}}">
    <button class="returnPostMenu" id="{{id}}"></button>
    <h3>Коментарі:</h3>
    <ul>
    </ul>
</div>
<form class="createCommentForm" id="{{id}}">
    <input type="text" class="commentInput" id="commentText" placeholder="Новий коментар" required>
    <button type="submit" class="createComment">Додати коментар</button>
</form>