<form class="updatePostForm" id="{{id}}">
    <input type="text" id="titleInput" placeholder="Заголовок" required value="{{title}}">
    <textarea id="contentInput" placeholder="Зміст" required>{{text}}</textarea>
    <button type="submit" class="updatePost" id="{{id}}">Оновити</button>
</form>